pillow

python D:\Juanpa\Programacion\Python\CS50_Introduction_to_Artificial_Intelligence_with_Python_Certificación_Harvard\Search\Recursos y hechos por mi\src0\maze.py D:\Juanpa\Programacion\Python\CS50_Introduction_to_Artificial_Intelligence_with_Python_Certificación_Harvard\Search\Recursos y hechos por mi\src0\src0\maze2.txt